@import "../bourbon/bourbon"

$color: #FF6347 //Theme skin
$text_color: #888
$main_color: #222
$bg_light: #FAFAFA

@mixin kerning($kerning)
	letter-spacing: $kerning + px

body
	color: $main_color
	+kerning(1)


a
	color: $color

p,
body .main_footer,
.s_about li
	color: $text_color


.color_element
	color: $color
.color_bg
	background-color: $color
.color_border
	border-color: $color


path
	fill: #fff

.bg_light
	background-color: $bg_light
.bg_dark
	background-color: $main_color
	color: #fff
	.s_descr::after
		background-color: #fff
	a
		color: #fff

.toggle_menu
	background-color: rgba(0, 0, 0, 1)

.top_mnu
	a:hover
		color: $color
	a	
		+kerning(3)

.top_text
	p
		color: $bg_light
		+kerning(5)

.personal_header
	+kerning(3)

.s_descr
	+kerning(3)
	&::after
		background-color: $main_color

section
	h3
		+kerning(2)
		color: $text_color

.s_about
	p:nth-child(even)
		color: $color

.resume_container
	h3
		color: $main_color
		+kerning(2)
		font-size: 16px
		font-weight: 600
	

.resume_icon
	font-size: 40px

.resume_item
	.years
		background-color: $color
	h3
		+kerning(1)
	margin-bottom: 30px

.s_portfolio
	li
		color: $text_color
		+kerning(2)
		&.active
			color: #fff
			border-bottom: 1px solid $color

.portfolio_item .port_item_cont
	a
		color: $color

.main_footer a
	color: $color

.contact_icon
	color: $color

.text-danger
	color: $color

.main_form
	input:focus,
	textarea:focus
		border: 1px solid $color
	input,
	textarea
		color: $color
		+kerning(1)
	button
		background-color: $color
		+kerning(1)
	.form-group
		color: $text_color



	
